h1,h2,h3,h4,h5 {
  font-family: "Acme", sans-serif;
}

span,
p,
li {
  font-family: "Ubuntu", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
.app {
  background: #bb93a9;
  padding: 30px;
  height: 100vh;
}

.logo {
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: white;
  color: rgb(24, 22, 22);
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  background-color: palevioletred;
  border-radius: 10px;
}

.homepage-title {
  text-align: left;
  font-size: 40px;
  max-width: 100%;
}

/* container */

.gallery-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: 3em;
  background-color: rgba(193, 195, 199, 0.5);
}

.card-img-top {
  height: 250px;
}

.card {
  /* border: 2px solid rgb(206, 195, 195); */
  box-shadow: 0px 0px 0px 1px rgb(219, 192, 200);
  transition: box-shadow 0.6s linear;
  margin: 0.5em;
}

.card:hover {
  box-shadow: 5px 8px rgb(221, 143, 166);
}


.card-deck {
  margin-top: 5em;
}
.card-deck .card {
  margin-bottom: 4em;
}



/* banner sizing */

.banner-sizing {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  margin-bottom: 56px;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}


.button_primary-color {
  background-color:  rgb(183, 164, 207) !important;
  border: none !important;
}

.pet-button {
  margin-top: 10px !important;
  display: flex;
}


.homepage-result {
margin-top: 2em;
}



/*infinite scroll */

.infinite_scroll-list {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-size: cover;
}


#block {
  width: 100%;
  height: 700px;
}

#list {
  width: 100%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 576px) {
  .card-deck {
    margin-right: -8em;
    margin-left: 0;
}
.card-deck .card {
  margin-right: 0;
  margin-left: 0;
}
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
}

.cart__page-left-title {
  font-size: 12px;
  line-height: 19.416px;
  line-height: 13px;
  color: #808284;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  background-color: white;
  border: none;
}

.cart__page-left-title:hover {
  background-color: white;
  color:#808284;
}

.cart__page-left-title:active {
  background-color: white;
  color:#808284;
}

.cart__line-item {
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #dfe0e1;
  display: flex;
  flex-direction: column;
}

.cart__cart-list {
  margin-bottom: 15px;
  overflow-y: auto;
  border-top: 1px solid #dfe0e1;
  background-color: #fff;
 
}


.cart-item-content-container {
  display: flex;

}

.cart__product-button {
  background: none;
  border: 0;
  display: block;
  margin: 0;
  padding: 0;

}

.cart__line-item-x-button {
  margin-left: auto;
}



.cart__product-image-container {
  padding: 1em 3em 1em 1em;
}


.cart__line-item-info-title {
  font-size: 13px;
  line-height: 21.034px;
  color: #4c4c4b;

}

.cart__line-item-info-container {
  width: 100%;
  padding-top: 2em;
 
}

.cart__img {
  width: 150px;
  height: 150px;
}

.cart__line-item-info-heading {
  display: flex;
  justify-content: space-between;
}